
/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1280px) {}


@media only screen and (min-width: 767px) and (max-width: 991px) {
    .mainmenu .navbar-nav li a {
        padding: 20px 3px;
        font-size: 14px;
    }
    .mainmenu .navbar-nav li a {
        padding: 20px 3px;
        font-size: 14px;
    }
    .logo {
        text-align: center;
    }

    .about-text {
        margin-top: 50px;
    }
    .section-title p {
        padding: 0;
    }

    .header-text p {
        padding: 0;
    }

    .navbar-nav {
        width: 100%;
        text-align: center;
    }
    .navbar-nav li {
        float: none;
        display: inline-block;
    }

    .single-footer {
        margin-top: 30px;
    }

}


@media only screen and (max-width: 767px) {
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle .icon-bar {
        background: #fff;
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -30px;
    }
    .navbar {
        min-height: 0px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .mainmenu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -40px;
    }
    .navbar-collapse {
        background: #1B1725;
    }
    .mainmenu .navbar-nav li a {
        color: #fff;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .mainmenu .navbar-nav li a:hover {
        color: #ccc;
    }
    .navbar-collapse {}
    .welcome-image-area {
        padding-top: 120px;
    }
    .welcome-image-area h2,
    .about-text h2, h2 {
        font-size: 24px;
    }
    .section-title h2 {
        font-size: 22px;
        margin-bottom: 30px;
    }
    .scrollup {
        height: 40px;
        width: 40px;
        line-height: 35px;
    }
    .header-text {
        margin-top: 10px;
    }
    .footer-text h6 {
        font-size: 12px;
    }
    .footer-area {
        padding: 50px 0px;
    }
    .section-padding {
        padding: 10px 0px;
    }
    .about-text {
        margin-top: 30px;
    }
    .margin-top-c {
        margin-top: 0px;
    }
    .section-title p {
        padding: 0;
    }
    .section-title h2::before {
        top: 40px;
    }
    .header-text p {
        padding: 0;
    }
    .header-text h1 {
        font-size: 30px;
    }
    .single-footer {
        margin-top: 30px;
    }
    .about-text ul li {
    width: 100%;
}
}

@media screen and (min-width: 960px) {
    .project1,.project2,.project3,.project4,.project5, .project6, .project7, .project8{
        width: 25%;
        min-height: 300px;
        padding-top: 60px;
    }

    .socialIcon1,.socialIcon2,.socialIcon3,.socialIcon4 {
    background-color: grey;
    width: 25%;
    text-align: center;

}

.social {
    padding-bottom: 6em;
}

    .about-text p {
    font-size: 1.2em;
    }

    .contact-form button.btn {
        width: 15%;
    }
}

@media screen and (min-width: 768px) {
    .contact-form button.btn {
        width: 20%;
    }
}


